@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: #ed634e;
    font-family: 'Lobster';
}

h1 {
    text-align: center;
    margin: 4rem;
    color: white;
    font-size: 8vh;
    letter-spacing: 0.25rem;
    text-shadow: 4px 4px 5px black;
}

.container {
    position: relative;
    margin: 2rem;
}

.drum-set__img {
    width: 100%;
    object-fit: cover;
}

.drum-set__btn-layout {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.btn-layout__section-1,
.btn-layout__section-2,
.btn-layout__section-3,
.btn-layout__section-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45%;
}

.btn-layout__section-1 {
    height: 15%;
}
.btn-layout__section-2 {
    height: 20%;
}
.btn-layout__section-3 {
    height: 20%;
}

.btn-layout__section-5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.extensions-button {
    background-color: rgba(9, 200, 248, 0.7);
    height: 100%;
    color: white;
    border-radius: 8px;
    font-size: 2vh;
    font-family: 'Lobster';
    margin: 0 2rem;
    border: none;
    box-shadow: 2px 2px 3px black;
    padding: 0.5rem 2rem;
}

.drum-piece-btn {
    flex: 1;
    height: 100%;
    background: none;
    border: none;
    color: transparent;
    font-size: 2vh;
    font-family: 'Lobster'; 
}

.drum-piece-btn:hover {
    background-color: rgba(9, 200, 248, 0.7);
    color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 3px #666;
}

.show-keys-option-active {
    background-color: rgba(9, 200, 248, 0.7);
    color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 3px #666;
}

.btn-layout__section-3 > .drum-piece-btn:nth-child(2) {
    max-width: 25%;
}

.btn-layout__section-3 > .drum-piece-btn:last-child {
    max-width: 20%;
}



/* desktop */
@media (min-width: 1025px) {
    /* .card img {
        width: 200px;
    } */
}
/* tablet */
@media (min-width: 481px) and (max-width: 1024px) {
    /* .card img {
        width:175px;
    } */
}

/* mobile */
@media (max-width: 480px) {
    /* .card button {
        padding: 10px;
    } */
    .extensions-button {
        margin-top: 1rem;

        flex: 1;
    }
    .btn-layout__section-5 {
        flex-direction: column;
        align-items: stretch;
    }
}